<div
  class="card border-info text-center todo-card card-border"
  style="width: 50rem;"
>
  <div class="card-body">
    <h5 class="card-title">
      {{ todo.name }}
    </h5>
    <p class="card-text">
      {{ todo.createdDate }}
    </p>
    <p class="card-text">
      {{ todo.completed }}
    </p>
    <button
      type="button"
      class="btn btn-success todo-card-button"
      (click)="completeTodo()"
    >
      Complete
    </button>
    <button
      type="button"
      class="btn btn-danger todo-card-button"
      (click)="deleteTodo()"
    >
      Delete
    </button>
  </div>
</div>
